<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accsoft Lnct APIs</title>
</head>
<body>
    <h1>Accsoft Lnct Attaindance APIs</h1>
    <h2>1. For Overall Attaindance</h2>
    <h3>Request URL: https://accsoft-lnct-data.herokuapp.com/overall-attaindance-username-password <a href="https://accsoft-lnct-data.herokuapp.com/overall-attaindance-123456-123456" target="_blank">TRY</a></h3>
    <p>eg: https://accsoft-lnct-data.herokuapp.com/overall-attaindance-123456-123456  </p>
    <h2>2. For Subject Wise Attaindance</h2>
    <h3>Request URL: https://accsoft-lnct-data.herokuapp.com/subjectwise-attaindance-username-password <a href="https://accsoft-lnct-data.herokuapp.com/subjectwise-attaindance-123456-123456" target="_blank">TRY</a></h3>
    <p>eg: https://accsoft-lnct-data.herokuapp.com/subjectwise-attaindance-123456-123456 </p>
    <h2>3. For Date Wise Attaindance</h2>
    <h3>Request URL: https://accsoft-lnct-data.herokuapp.com/datewise-attaindance-username-passsword <a href="https://accsoft-lnct-data.herokuapp.com/datewise-attaindance-123456-123456" target="_blank">TRY</a></h3>
    <p>eg: https://accsoft-lnct-data.herokuapp.com/datewise-attaindance-123456-123456 </p>

</body>
</html>